.logo-slider {
  overflow: hidden;
  padding: 5px 0;
}

.slider-track {
  display: flex;
  gap: 40px;
  width: max-content;
}

.slider-track img {
  height: 150px;
  object-fit: contain;
  border-radius: 12px;

  transition: transform 0.3s, filter 0.3s;
}

/* Hover effect */
.slider-track img:hover {
  transform: scale(1.1);
  filter: grayscale(0%);
}

/* Animations */
.left {
  animation: moveLeft 25s linear infinite;
}

.right {
  animation: moveRight 25s linear infinite;
}

@keyframes moveLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(100%);
  }
}

@keyframes moveRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

/* potforio-section */
.portfolio {
  /* background-image: url("/assets/img/work/branding/business\ card.jpg");
  background-size: cover; */
  background-color: #fff !important;
}

.portfolio-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.portfolio-item {
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

@media (max-width: 991px) {
  .portfolio-item {
    flex: 1 1 calc(50% - 70px);
  }
}

@media (max-width: 576px) {
  .portfolio-item {
    /* flex: 1 1 100%; */
  }
}

.portfolio-item img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  transition: transform 0.4s ease;
}

.portfolio-item:hover img {
  transform: scale(1.1);
}

.portfolio-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.4s ease;
  text-align: center;
}

.portfolio-item:hover .portfolio-overlay {
  opacity: 1;
}

.portfolio-overlay h5 {
  font-weight: 600;
  margin-bottom: 5px;
}

.portfolio-overlay span {
  font-size: 14px;
  opacity: 0.8;
}
